#folders
models
output
wandb
src
output

#files
.args.py
#add when u clone this file
# conf.yml
# README.md
# .gitignore
NanumGothic.ttf
#etc
/.ipynb_checkpoints
dkt/.ipynb_checkpoints
__pycache__
/asset
*.ipynb