#folders
models
output
wandb
src
output
notebooks

#add when u clone this file
conf.yml
# README.md
.gitignore
NanumGothic.ttf
#etc
/.ipynb_checkpoints
dkt/.ipynb_checkpoints
__pycache__
/asset
*.ipynb

serving_args.py
dkt/__pycache__
dkt/toy_project_solution
src
static
templates